.contact-email-form
  .add-contact
    text-align: center
    > .btn
      margin-top: 23px
      +for_breakpoint(mobile)
        margin-top: 0
      +for_breakpoint(tablet mobile)
        width: 100%
    +for_breakpoint(tablet mobile)
      text-align: right

  .contacts
    margin-top: 10px
    overflow-y: auto
    overflow-x: hidden
    height: 170px
    +for_breakpoint(mobile)
      height: 80px
    +for_breakpoint(tablet mobile)
      height: 120px
    &::-webkit-scrollbar
        width: .5em
    &::-webkit-scrollbar, &::-webkit-scrollbar-thumb
        overflow:visible
        radius 10px
    &::-webkit-scrollbar-thumb
        background: #555
    .remove-contact
      text-align: center
    +for_breakpoint(tablet mobile)
      margin-top: 20px
      .remove-contact
        text-align: right
    .contact
      padding-top: 5px
      padding-bottom: 5px
      > div
        overflow: hidden
        text-overflow: ellipsis
    .text-danger
      font-style: italic
