.content
  position: relative
  padding-top: 60px
  padding-left: 52px
  width: 100%
  min-height: 100vh
  +for_breakpoint(mobile)
    padding-left: 15px
    padding-right: 15px
  +for_breakpoint(print)
    padding : 0

.content-header
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding-top: 12px
  padding-bottom: 12px
  width: 100%
  +for_breakpoint(mobile)
    display: block
  & > .content-header-right
    & > button
      & > i
        padding-right: 10px
  & > .content-header-left
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 0px;

.content-header
  &.central-backlog-header
    & > .content-header-left
      min-width: 30%
    & > .content-header-right
      min-width: 70%

.content-sub-title
  padding-bottom: 10px
