.div-flex-row
  display: flex
  flex-direction: row
  > .item
    margin-left: 10px
    +for_breakpoint(mobile)
      margin-left: 0px
    &:first-child
      margin-left: 0px
  +for_breakpoint(mobile)
    flex-direction: column
    > .item
      padding-top: 10px
      padding-left: 0
  &.center
    align-items: center
    justify-content: center
  &.space-between
    align-items: center
    justify-content: space-between
  &.end
    align-items: center
    justify-content: flex-end

.div-flex-column
  display: flex
  flex-direction: column

.row-flex
  width: 100%
  display: flex
  flex-direction: row
  &.center
    justify-content: center
    align-items: center
  &.space-between
    align-items: center
    justify-content: space-between
  &.start
    justify-content: flex-start
    align-items: center
  & > div
    padding-right: 15px
    +for_breakpoint(mobile tablet-portrait)
      padding-left 0
  & > div:last-child
    padding-right: 0
  & > div:only-child
    padding-right: 0
  +for_breakpoint(mobile tablet-portrait)
    width: auto
    flex-direction: column
  & > .flex-grow-1
    flex-grow: 1
  & > .flex-grow-2
    flex-grow: 2


.flex-center
  display: flex
  flex-direction: row
  align-items: center
