.form-content
  #btnSelectPassengers
    margin-top: 27px
  .time-input
    padding: 5px 5px
    +for_breakpoint(mobile)
      margin-top:0
  .dropdown-menu
    z-index: 3

.form-table
 & > table
  & > tbody
   & > tr
    & > td
     &.passenger-infos
      display: table-cell
      & > .icon
        margin-left: 10px
        float: right
      & > i
        margin-left: 10px
      & > span
        float: left
