.header
  position: fixed
  display: flex
  flex-direction: row
  width: 100%
  background-color: $WHITE
  align-items: center
  justify-content: space-between
  padding-top: 12px
  padding-bottom: 12px
  height: 60px
  border-bottom: 1px solid $LIGHT-GRAY
  z-index: 5
  +for_breakpoint(print)
    display: none
  +for_breakpoint(mobile)
    z-index: 3
  & > .header-left
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    height: 60px
    width: 100%
    & > .header-logo
      overflow: hidden
      a, a:hover
        transition: all 0.3s
        text-decoration: none
        color: $DARK-GRAY
      .app-name
        display: inline-block
        margin-top: 15px
        color: $DARK-GRAY
        +for_breakpoint(tablet)
          margin-top: 9px
          line-height: 14px
          font-size: 12px
          width: 135px
      +for_breakpoint(mobile)
        height: 35px
        margin-left: 30px
        .app-name
          display: inline-block
          margin-top: 7px
      &:before
        content: url('../assets/images/logo.png')
        display: inline-block
        float: left
        margin-right: 10px
        margin-left: 10px
        +for_breakpoint(mobile)
          margin-left: 0
          content: url('../assets/images/emb_logoicon_blue.svg')
          width: 30px
  & > .header-right
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end
    height: 60px
    width: 100%

  .system-header-navbar
    height: 100%
    +for_breakpoint(mobile)
      display: inline-flex
    &  > li
      padding-left: 15px
      padding-right: 15px
      height: 100%
      display: flex
      flex-direction: column
      justify-content: center
      color: $GRAY
      a
        text-decoration: none
        color: $GRAY
        &.search-trip
          text-transform: uppercase
          font-weight: bold
      &:last-child
        a:hover
          background-color: $WHITE
      &.nav-hover
        i
          padding-right: 10px
        & > div
          width: 100%
          height: 100%
          & > a
            width: 100%
            height: 100%
            display: flex
            align-items: center
        +for_breakpoint(mobile)
          i
            padding-right: 0
          a
            span
              display: none
      .system-nav-li-user
        display: flex
        align-items: center
        & > .system-user-icon
          background-image: url('../assets/images/icons/avatar.svg')
          width: 30px
          height: 30px
          background-repeat: no-repeat
          display: block
          float: right
          +for_breakpoint(mobile)
            display: none
        & > span
          padding-right: 10px
          width: 21vh
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          +for_breakpoint(tablet-portrait)
            width: 8vh
          +for_breakpoint(tablet-landscape)
            width: 11vh

    & > li.nav-hover:hover
      transition: all 0.3s
      background-color: $DARKER-GRAY
      color: $WHITE
      a
        transition: all 0.3s
        color: $WHITE

.header-menu-button
  display: none
  margin-left: 10px
  width: 35px
  height: 35px
  line-height: 35px
  margin-right: 30px
  +for_breakpoint(mobile)
    text-align: center
    display: block
    cursor: pointer
  & > .button-icon
    +for_breakpoint(mobile)
      display: block
      margin-top: 5px;
      &.fa:before
        font-size: 20px
