#outdated
  height 100vh
  width 100vw
  z-index: 9999
  background-color: #FFFFFF
  color: #535353
  font-family: 'Roboto'
  & > h6
    margin-top: 30vh
    font-size: 2.3em
  & > p
    font-size: 1.5em
    line-height: 1.5em
    text-transform: none
  & > .inner
    display flex
    flex-direction column
    justify-content: center