.request-now
  position: fixed
  width: 100%
  bottom: 0
  left: 0
  padding: 7px 15px 7px 67px
  background-color: $DARKEST-GRAY
  opacity: 0.8
  & > .request-now-content
    display: flex
    flex-direction: row
    color: $WHITE
    & > .left
      width: 60%
      +for_breakpoint(tablet)
        width: 40%
      & > h2
        color: $WHITE
    & > .right
      width: 40%
      display: flex
      flex-direction: row
      justify-content: flex-end
      align-items: center
      font-size: 13px
      & > .request-required
        width: 30%
      & > .dropup
        margin-left: 10px
      +for_breakpoint(tablet)
        width: 60%
      +for_breakpoint(mobile)
        width: 100%