.right-side-menu
  @extend .clickable
  display: block
  position: absolute
  top: 75px
  width: inherit
  > .menu-item
    padding: 5px 10px
    border: 1px solid black
    > i
      margin-right: 5px
