.selection-filter
  .selection
    border-color: $LIGHT-GRAY
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    outline: none
    text-transform: capitalize
    color: $DARK-GRAY
    &.focus
      background-color: $WHITE
    &.active
      background-color: $LIGHT-GRAY
      border-color: $GRAY
      &:hover
        background-color: $LIGHT-GRAY
      &.focus
        outline: none
    & > input
      position: absolute
      clip: rect(0, 0, 0, 0)
      pointer-events: none
    &:hover
      z-index: 3
      background-color: $WHITE
      border: 1px solid #66afe9
      outline: 0
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)
    +for_breakpoint(mobile)
      padding: 3px 6px
      font-size: .9em
