.side-menu-wrapper
    background-color: $DARKEST-GRAY
    font-size: 13px
    left: 0px
    top: 60px
    height: 100%
    width: 52px
    position: fixed
    z-index: 10
    transition width 0.15s
    +for_breakpoint(print)
      display: none
    +for_breakpoint(mobile)
      top: 0
    &.active
        transition width 0.4s
        width: 300px
        overflow-y: auto
        .side-menu-nav
            li
                max-height: none
        .menu-item
            a
                display: flex
                flex-direction: row
                animation: ease-in-out 0.45
                +for_breakpoint(mobile)
                    font-weight: normal
    +for_breakpoint(desktop)
        &:hover
            transition width 0.4s
            width: 300px
            overflow-y: auto
            .side-menu-nav
                li
                    max-height: none
            .menu-item
                a
                    display: flex
                    flex-direction: row
                    animation: ease-in-out 0.45
                    +for_breakpoint(mobile)
                        font-weight: normal

    .icon
        width: 20px
        height: 20px
        background-repeat: no-repeat
        display: block
        float: left
        &.icon-gear
            background-image: url('../assets/images/icons/cog_off.svg')
        &.icon-home
            background-image: url('../assets/images/icons/home_off.svg')
        &.icon-chart
            background-image: url('../assets/images/icons/chart_off.svg')
        &.icon-checklist
            background-image: url('../assets/images/icons/checklist_off.svg')
        &.icon-programming
            background-image: url('../assets/images/icons/programar_off.svg')
        &.icon-financial
            background-image: url('../assets/images/icons/financeiro_off.svg')
        &.icon-report
            background-image: url('../assets/images/icons/relatorios_off.svg')
        &:hover
            cursor: pointer
        &.fa
            color: $GRAY
            margin-top: -3px
            font-size: 2em
    .side-menu-nav
        list-style: none
        overflow-y: auto
        overflow-x: hidden
        max-height: calc(100vh - 100px)
        display: block
        padding-left: 15px
        padding-right: 15px
        background-color: $DARKEST-GRAY
        +for_breakpoint(mobile)
            max-height: calc(100vh - 180px)

        &::-webkit-scrollbar
            width: .5em
        &::-webkit-scrollbar, &::-webkit-scrollbar-thumb
            overflow:visible
            radius 10px
        &::-webkit-scrollbar-thumb
            background: #555
        li
            display: block
            padding-top: 10px
            padding-bottom: 10px
            max-height: 40px
            +for_breakpoint(mobile)
                padding-left: 15px
            &:hover
                ul
                    display: block
                    opacity: 1
                    transition width 0.4s
        &.sub-menu
            max-height: none
            margin-top: 10px
            margin-left: 40px
            padding-right: 0
            overflow: hidden
            display: none
            opacity: 0
            &.active
                display: block
                opacity: 1
        .icon
            margin-right: 15px

    .menu-item
        cursor: pointer
        display: inline-block
        width: 100%
        white-space: nowrap
        & > a
            display: none;
            color: $DARK-GRAY
            padding-top: 2px
            &:hover
                text-decoration: none
        &.active,
        &:hover
            & > a
                color: $WHITE
            & > .icon
                &.icon-gear
                    background-image: url('../assets/images/icons/cog_on.svg')
                &.icon-home
                    background-image: url('../assets/images/icons/home_on.svg')
                &.icon-chart
                    background-image: url('../assets/images/icons/chart_on.svg')
                &.icon-checklist
                    background-image: url('../assets/images/icons/checklist_on.svg')
                &.icon-programming
                    background-image: url('../assets/images/icons/programar_on.svg')
                &.icon-financial
                    background-image: url('../assets/images/icons/financeiro_on.svg')
                &.icon-report
                    background-image: url('../assets/images/icons/relatorios_on.svg')

    +for_breakpoint(mobile)
        width: 0px
        .side-menu-nav
            display: none
        &.active
            width: 100%
            .side-menu-nav
                display: block
                ul
                    display: none


.side-menu-header
  display: flex
  flex-direction: row
  width: 100%
  align-items: center
  justify-content: space-between
  padding-top: 12px
  padding-bottom: 12px
  height: 60px
  z-index: 3
  & > .side-menu-header-left
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    height: 60px
    width: 100%
    & > .side-menu-header-logo
      overflow: hidden
      height: 35px
      margin-left: 30px
      a, a:hover
        transition: all 0.3s
        text-decoration: none
        color: $DARK-GRAY
      &:before
        display: inline-block
        float: left
        margin-right: 10px
        margin-left: 10px
        margin-left: 0
        content: url('../assets/images/emb_logoicon_white.svg')
        width: 30px
  & > .side-menu-header-right
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end
    height: 60px
    width: 100%
    & > .header-menu-button
      i 
        color: $BLUE
