.supplier-input-prices
  display: flex
  flex-direction: row
  justify-content: space-between
  +for_breakpoint(mobile)
    display: block
  & > .form-group
    padding: 0
.icon-trash
  &:hover
    cursor: pointer
