.system-data-table
  display: flex
  justify-content: space-between
  flex-direction: column
  height: calc(100vh - 140px)
  &.action-history-table
   height: 40vh
   & > table
    & > tbody
      height: 35vh
  +for_breakpoint(mobile)
    height: calc(100vh - 235px)
  table
    width: 100%
    thead
      display: block
      tr
        display: inline-flex;
        width: 100%;
        th
          display: block
          float: left
          a
            color: $DARK-GRAY
            text-decoration: none
            cursor: pointer
          .sortorder
            &:after
              content: '\25bc'
            &.reverse
              &:after
                content: '\25b2'
    tbody
      width: 100%
      height: calc(100vh - 257px)
      min-height: 35px
      display: block
      overflow-y: auto

      +for_breakpoint(mobile)
        height: calc(100vh - 394px)

      > tr:first-child
        td
          border-top: 0
      > tr
        display: inline-flex;
        width: 100%;
        min-height: 35px
        &:last-child
          border-bottom: 1px solid $LIGHT-GRAY

      td
        display: block
        float: left
        word-break: break-all
        a
          color: $BLUE
          margin-top: 0px
          &:hover
            cursor: pointer
        .sortorder
          &:after
            content: '\25b2'
          &.reverse
            &:after
              content: '\25bc'

      &::-webkit-scrollbar
          width: .5em
      &::-webkit-scrollbar,
      &::-webkit-scrollbar-thumb
          overflow:visible
          radius 10px
      &::-webkit-scrollbar-thumb
          background: $GRAY

    tfoot
      width:100%
      display:table-footer-group
      tr
        display: inline-flex
        width: 100%
        th
          float: left
/*
 * Creating new system-data-table class. The original one did not work
 * very well when there were different objects within the cells. In
 * the future the class above will be replaced by the new one below
 */
.system-data-table2
  table
    thead
      tr
        th
          a
            color: $DARK-GRAY
            text-decoration: none
            cursor: pointer

          .sortorder
            &:after
              content: '\25bc'
            &.reverse
              &:after
                content: '\25b2'
