/** Overrides Bootstrap class to fix mouse hover pointer on disabled buttons*/
.btn.disabled, .btn[disabled], fieldset[disabled] btn
    pointer-events: auto

.btn
  font-weight: 600
  text-transform: uppercase
  &.btn-block
    display: block
    width: 100%
  &.btn-blue
    color: $WHITE
    background-color: $BLUE
    border-color: $BLUE
    &:hover
      color: @color
      background-color: $LIGHT-BLUE
      border-color: $LIGHT-BLUE
    &:focus
      color: $LIGHT-$BLUE
      background-color: $DARK-BLUE
      border-color: $DARK-BLUE
  &.btn-gray
    color: $WHITE
    background-color: $GRAY
    border-color: $GRAY
    &.dropdown-toggle
      color: @color
      &:hover
        color: @color
    &:hover
      color: $DARKEST-$GRAY
      background-color: $LIGHT-GRAY
      border-color: $LIGHT-GRAY
    &:focus
      color: $GRAY
      background-color: $DARK-GRAY
      border-color: $DARK-GRAY
  &.btn-red
    color: $WHITE
    background-color: $RED
    border-color: $RED
    &:hover
      color: @color
      background-color: $LIGHT-RED
      border-color: $LIGHT-RED
  &.btn-green
    color: $WHITE
    background-color: $GREEN
    border-color: $GREEN
    &:hover
      color: @color
      background-color: $AQUA
      border-color: $AQUA
