.icon
  background-repeat: no-repeat
  display: inline-block
  &.pointer
    cursor: pointer

  &.icon-edit
    background-image: url('../assets/images/icons/editar.svg')
  &.icon-trash
    background-image: url('../assets/images/icons/lixo.svg')

  &.icon-margin
    margin-right: 8px

  &.icon-extra-small
    icon-size-image(12px)

  &.icon-small
    icon-size-image(18px)

  &.icon-medium
    icon-size-image(24px)

  &.icon-medium-extra
    icon-size-image(34px)

  &.icon-large
    icon-size-image(40px)

  &.icon-font-small
    icon-size-font(14px)

  &.icon-font-medium
    icon-size-font(18px)

  &.icon-font-large
    icon-size-font(24px)
