.lnk-gray
  color: $DARK-GRAY
  &:hover
    color: $DARK-GRAY

.lnk-copy
  color: $DARK-GRAY
  margin-right: 20px
  margin-top: 5px
  float: left

.lnk-copy:hover
  color: $DARK-GRAY
  text-decoration: underline;
  cursor: pointer;
