.modal-open .modal.modal-system
  overflow-y: hidden
  +for_breakpoint(mobile)
    overflow-y: auto
.modal-system
  & > .modal-dialog
    height: 100vh
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    & > .modal-content
      width: 100%
      +for_breakpoint(mobile)
        overflow: auto
        height: calc(100vh - 100px)
        &::-webkit-scrollbar
          width: .5em
          height: .6em
        &::-webkit-scrollbar, &::-webkit-scrollbar-thumb
          overflow:visible
          radius 10px
        &::-webkit-scrollbar-thumb
          background: $LIGHT-GRAY
  & > .modal-lg
    width: 90%
  & > .modal-lg-mobile
    +for_breakpoint(mobile-landscape)
      height: 220vh
    +for_breakpoint(mobile-portrait)
      height: 140vh
  .modal-system-header
    border: none
    text-align: center
    color: $DARKEST-GRAY
  h4.modal-title
    color: $DARKEST-GRAY
  .modal-subtitle
    color: $GRAY
  h4
    display: inline
  .modal-footer
    background-color: $LIGHTER-GRAY
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    .btn
      font-size: 12px
      &.btn-gray
        color: $WHITE
        background-color: $DARK-GRAY
    #btnCancelDialog
      color: $WHITE
      background-color: $DARK-GRAY
  .modal-footer-flex
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 15px
    border-top: solid 1px $LIGHTER-GRAY
    &:before, &:after
      display: block;
      content: none;
.passenger-modal
  max-height: 60vh
  display: block
  overflow: auto
.deny-modal
  & > .modal-dialog
    & > .modal-content
      +for_breakpoint(mobile)
        overflow: auto
        height: 100vw
.multiselect-filter-modal
  .multiSelect
    & > button
      width: 100%

@media all and (max-width: 320px)
 .modal-history
  overflow: hidden
  & > .modal-body
   overflow-y: auto
 .action-history-table
  & > table
   & > thead,
   & > tbody
    & > tr
     & > td,
     & > th
      &:nth-child(1),
      &:nth-child(2)
       width: 132px

.history-footer
 text-align: center

.confirmation-with-reason-modal
  .modal-footer
    display: flex
    flex-direction: row
    justify-content: space-between
    text-align: unset
    &:before
      content: none
    &:after
      content: none

.uib-clear
  display: none

.report-filter-modal
  .multiSelect
    .checkboxLayer
      min-height 150px