.background-lighter-gray
  background-color: $LIGHTER-GRAY

.background-light-blue
  background-color: $LIGHT-BLUE

.background-orange
  background-color: $ORANGE

.rowspan
  +for_breakpoint(desktop)
    min-height: 50px;

/** Overrides blockUi plugin style*/
.block
  height: 100%

.block-ui-overlay
  opacity: .6

.block-ui-container
  display: flex
  justify-content: center
  align-items: center

.border-right-divisor
  border-right: 1px solid $LIGHT-GRAY
  +for_breakpoint(mobile)
    border-right: 0

.border-left-divisor
  border-left: 1px solid $LIGHT-GRAY
  +for_breakpoint(mobile)
    border-left: 0

.clickable
  cursor: pointer

.form-horizontal
  +for_breakpoint(mobile)
    padding-right: 15px;
    padding-left: 15px;

/**
 * Necessario devido ao fato do Bootstrap nao estilizar os botoes
 * que sao inseridos dentros de um elemento input.
 */
.has-error
  .input-group-btn
    .btn
      border-color: #a94442;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

.hide-mobile
  +for_breakpoint(mobile)
     display: none !important

.hide-tablet-portrait
  +for_breakpoint(tablet-portrait)
     display: none !important

.mg-top-20
  margin-top: 20px

.width-47
  width: 47%
  +for_breakpoint(mobile tablet)
    width: auto

.width-4
  width: 4%
  +for_breakpoint(mobile tablet)
    width: auto

.no-rezise
  resize: none

.mg-bottom-10
 margin-bottom: 10px;

.mg-bottom-40
 margin-bottom: 40px;

/* Prevent the AngularJS html template from being briefly
 * displayed by the browser in its raw (uncompiled) form while your application is loading
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

.span-message
  height: 15px

.span-word-break,
.word-break
  width:100%
  word-wrap: break-word
  white-space: normal

.show-mobile
  +for_breakpoint(mobile)
     display: inherit !important

.show-tablet-portrait
  +for_breakpoint(tablet-portrait)
     display: inherit !important

.required-flag
  color: $RED
  font-weight: bold

.round-trip
  color: $BLUE
  font-style: italic

.status-active, .status-enabled
  color: $GREEN

.status-inactive, .status-disabled
  color: $RED

.darkest-gray
  color: $DARKEST-GRAY

.text-bold
  font-weight: bold

.text-italic
  font-style: italic

.text-xs-center
  +for_breakpoint(mobile tablet)
    text-align: center

.text-xs-left
  +for_breakpoint(mobile tablet)
    text-align: left

.text-xs-right
  +for_breakpoint(mobile tablet)
    text-align: right

.danger
  color: $RED

.warning
  color: $WARNING

.info
  color: $GREEN

/* Loading translations */
.translate-cloak {
   display: block;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   z-index: 1050;
   background-color: #fff;
}

.translate-cloak-load div.fa {
   display: none;
}

.translate-cloak div.fa {
   margin: 25% 0;
   text-align: center;
   width: 100%;
   display: block;
}

.pac-container {
  z-index: 1050
}
