<nav class="side-menu-wrapper" ng-mouseover="onSideMenuHover()">
    <div class="side-menu-header hide-desktop hide-tablet">
      <div class="side-menu-header-right">
        <div class="header-menu-button close-btn">
          <i class="fa fa-times button-icon" ></i>
        </div>
      </div>
    </div>
    <ul class="side-menu-nav">
      <li>
        <span class="menu-item" ui-sref="flight-list" ui-sref-active="active">
          <i class="icon icon-home hide-mobile" tooltip-placement="right" uib-tooltip="{{'FLIGHT' | translate}}"></i>
          <a class="menu-link  text-bold">{{ 'FLIGHT' | translate }}</a>
        </span>
      </li>
  </nav>
  