<div class="header" >
    <div class="header-left">
      <div class="header-logo">
        <a class="hide-mobile"><span class="text-uppercase app-name" ng-bind="'FLIGHT_MANAGEMENT' | translate"></span></a>
      </div>
    </div>
    <div class="header-right">
      <ul class="nav navbar-nav system-header-navbar">
        <li>
          <div class="system-nav-li-user hide-mobile">
            <span>Luiz Fagner Zordan</span>
          </div>
        </li>
      </ul>
      <div id="mobileMenuButton" class="header-menu-button">
        <i class="fa fa-bars button-icon" ></i>
      </div>
    </div>
    <flash-message class="flashMessage" duration="3000"></flash-message>
  </div>
s  