/**
 *  Common useful mixins
 *  @author: Luiz Fagner Zordan
 */

radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

transitions()
  transition arguments
  -o-transition arguments
  -ms-transition arguments
  -moz-transition arguments
  -webkit-transition arguments

transforms()
  -webkit-transform arguments
  -o-transform arguments
  transform arguments

boxShadow()
  -moz-box-shadow    arguments
  -webkit-box-shadow arguments
  box-shadow         arguments

thinScrollbar(argument)
  &::-webkit-scrollbar
        width: .5em
        height: .5em
    &::-webkit-scrollbar, &::-webkit-scrollbar-thumb
        overflow: visible
        radius 10px
    &::-webkit-scrollbar-thumb
        background: argument

row-set-padding(padding)
  [class*="col-"]
    padding-left: padding;
    padding-right: padding;
  [class*="col-"]:first-child
    padding-left: 15px;
  [class*="col-"]:last-child
    padding-right: 15px;

icon-size-image(size)
  width: size
  height: size

icon-size-font(n)
  display: inline-block
  margin-right: 10px
  font-size: n