<div class="block" block-ui="block" system-block-ui>
  <div class="content-header">
    <div class="content-header-left">
      <h1 ng-bind="'FLIGHT' | translate"></h1>
    </div>
  </div>
  <div class="system-data-table">
    <label>Pesquisar:</label>
    <input type="text" class="col-md-4 col-sm-6 sol-xs-12" ng-model="searchText">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-2 col-sm-12 col-xs-12">
            <a id="headerId" ng-bind="'REFERENCE' | translate" ng-click="vm.sortBy('id')"></a>
            <span ng-show="vm.propertyName === 'id'" class="sortorder" ng-class="{reverse: vm.reverse}" ></span>
          </th>
          <th class="col-md-2 col-sm-12 col-xs-12">
            <a id="headerOrigin" ng-bind="'ORIGIN' | translate" ng-click="vm.sortBy('origin.state')"></a>
            <span ng-show="vm.propertyName === 'origin.state'" class="sortorder" ng-class="{reverse: vm.reverse}" ></span>
          </th>
          <th class="col-md-2 col-sm-12 col-xs-12">
              <a id="headerDestiny" ng-bind="'DESTINY' | translate" ng-click="vm.sortBy('destiny.state')"></a>
              <span ng-show="vm.propertyName === 'destiny.state'" class="sortorder" ng-class="{reverse: vm.reverse}" ></span>
            </th>
          <th class="col-md-2 col-sm-12 col-xs-12">
            <a id="headerAirplane" ng-bind="'AIPLANE' | translate" ng-click="vm.sortBy('airplane.name')"></a>
            <span ng-show="vm.propertyName === 'airplane.name'" class="sortorder" ng-class="{reverse: vm.reverse}" ></span>
          </th>
          <th class="col-md-2 col-sm-12 col-xs-12 hide-mobile">
            <a id="headerPilot" ng-bind="'PILOT' | translate" ng-click="vm.sortBy('pilot.name')"></a>
            <span ng-show="vm.propertyName === 'pilot.name'" class="sortorder" ng-class="{reverse: vm.reverse}" ></span>
          </th>
          <th class="col-md-2 col-sm-12 col-xs-12 hide-mobile">
            <a id="headerStatus" ng-bind="'FLIGHT_STATUS' | translate" ng-click="vm.sortBy('flightStatus')"></a>
            <span ng-show="vm.propertyName === 'flightStatus'" class="sortorder" ng-class="{reverse: vm.reverse}" ></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr id="row_{{$index}}" ng-repeat="flight in vm.flights | orderBy : vm.propertyName : vm.reverse | filter:searchText">
          <td id="id{{$index}}" class="col-md-2 col-sm-12 col-xs-12">
            <a ng-click="vm.goToFlightForm(flight.id)">
              {{flight.id}}
            </a>
          </td>
          <td id="origin_{{$index}}" class="col-md-2 col-sm-12 col-xs-12">{{flight.origin.state}}</td>
          <td id="destiny_{{$index}}" class="col-md-2 col-sm-12 col-xs-12">{{flight.destiny.state}}</td>
          <td id="airplane_{{$index}}" class="col-md-2 col-sm-12 col-xs-12">{{flight.airplane.name}}</td>
          <td id="pilot_{{$index}}" class="col-md-2 col-sm-12 col-xs-12 hide-mobile">{{flight.pilot.name}}</td>
          <td id="status_{{$index}}" class="col-md-2 col-sm-12 col-xs-12 hide-mobile">{{flight.status}}</td>
        </tr>
        <tr id="noData" ng-if="vm.flights.length == 0">
          <td class="col-md-12 col-sm-12 col-xs-12">
            <span ng-bind="'NO_AVAILABLE_DATA' | translate"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
