<div system-block-ui message=" 'PROCESSING' | translate">
  <div class="content-header">
    <div class="content-header-left col-md-6">
      <div class="header-title">
        <h1>FLIGHT DETAILS</h1>
      </div>
    </div>
    <div class="content-header-right"></div>
  </div>
  <div>
  <div class="row">
    <div class="form-group col-md-3 col-xs-12">
      <label>REFERENCE:</label>
      <span> {{vm.flight.id}}</span>
    </div>
    <div class="form-group col-md-3 col-xs-12">
      <label>DEPARTURE:</label>
      <span> {{vm.flight.departureTime}}</span>
    </div>
    <div class="form-group col-md-3 col-xs-12">
      <label>ARRIVAL:</label>
      <span> {{vm.flight.arrivalTime}}</span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3 col-xs-12">
      <label>ORIGIN:</label>
      <span> {{vm.flight.origin.state}}</span>
    </div>
    <div class="form-group col-md-3 col-xs-12">
      <label>DESTINY:</label>
      <span> {{vm.flight.destiny.state}}</span>
    </div>
    <div class="form-group col-md-3 col-xs-12">
      <label>STATUS:</label>
      <span> {{vm.flight.status}}</span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12 col-xs-12">
      <h4 style="border: 1px solid; padding: 5px;">AIRPLANE:</h4>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3 col-xs-12">
      <label>NAME:</label>
      <span> {{vm.flight.airplane.name}}</span>
    </div>
    <div class="form-group col-md-3 col-xs-12">
      <label>CAPACITY:</label>
      <span> {{vm.flight.airplane.capacity}}</span>
    </div>
    <div class="form-group col-md-3 col-xs-12">
      <label>WEIGHT:</label>
      <span> {{vm.flight.airplane.weight}}</span>
    </div>
    <div class="form-group col-md-3 col-xs-12">
      <label>SUPPLIER: </label>
      <span> {{vm.flight.airplane.supplier}}</span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12 col-xs-12">
      <h4 style="border: 1px solid; padding: 5px;">PILOT:</h4>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3 col-xs-12">
      <label>NAME:</label>
      <span> {{vm.flight.pilot.name}}</span>
    </div>
    <div class="form-group col-md-3 col-xs-12">
      <label>LAST NAME:</label>
      <span> {{vm.flight.pilot.lastName}}</span>
    </div>
    <div class="form-group col-md-3 col-xs-12">
      <label>AGE:</label>
      <span> {{vm.flight.pilot.age}}</span>
    </div>
    <div class="form-group col-md-3 col-xs-12">
      <label>FLIGHT COUNT:</label>
      <span> {{vm.flight.pilot.flightCount}}</span>
    </div>
  </div>
</div>
