body
  font-family: FONT-DEFAULT
  font-size: 13px
  color: $DARK-GRAY
  -ms-overflow-style: scrollbar

h1
  font-family: FONT-DEFAULT
  font-size: 24px
  color: $DARKEST-GRAY

h2
  font-family: FONT-DEFAULT
  font-size: 18px
  color: $GRAY

ul
  list-style-type: none
  margin: 0
  padding: 0

hr
  color: $GRAY
